template(name="jobsNewForbidden")
  .well.text-center
    p
      | Você precisa estar logado para criar um anúncio de emprego!
    a.btn.btn-lg.btn-primary.btn-linkedin(href="#")
      i.fa.fa-fw.fa-linkedin-square
      |  Entrar usando LinkedIn
      
template(name="jobsNew")
  if currentUser
    +jobsNewContent
  else
    +jobsNewForbidden
  
template(name="jobsNewContent")
  .row
    .col-sm-6.col-sm-offset-3
      .panel.panel-default
        .panel-heading.clearfix
          h3.panel-title.pull-left
            | Anunciar Vaga
        .modal-body

          form        

            .form-group
              label.control-label(for='title') 
                | Título da Vaga
                i.fa.fa-asterisk
              input.form-control(id="title" type='text')
                
            .form-group
              label.control-label(for='term') 
                | Tipo
                i.fa.fa-asterisk
              select.form-control(id="term")
                option
                option
                  | Full Time
                option
                  | Estágio
                option
                  | Freela
                option
                  | Por Hora
                option
                  | Open Source
                option
                  | Voluntário
                
            .form-group
              label.control-label(for='company') 
                | Empresa
                i.fa.fa-asterisk
              input.form-control(id="company" type='text')
                
            .form-group
              label.control-label(for='email') 
                | Email para contato
                i.fa.fa-asterisk
              input.form-control(id="email" type='text')
            
            .form-group
              label.control-label(for='company') 
                | Descrição da vaga
                i.fa.fa-asterisk
              .summernote(id="description")
        
        .panel-footer.clearfix
          input.btn.btn-primary.btn-save.pull-right(type="submit" value="Salvar")
