template(name="jobsNewForbidden")
  .well.text-center
    p
      | Você precisa estar logado para criar um anúncio de emprego!
    a.btn.btn-lg.btn-primary.btn-linkedin(href="#")
      i.fa.fa-fw.fa-linkedin-square
      |  Entrar usando LinkedIn
      
template(name="jobsNew")
  if currentUser
    +jobsNewContent
  else
    +jobsNewForbidden
  
template(name="jobsNewContent")
  +jobsForm formTitle="Anunciar Vaga"
