template(name="jobs")
  .row
    .col-sm-12
      h3
        | Vagas Disponíveis em São Carlos
      if Template.subscriptionsReady
        +jobsContent
      else
        +loading

template(name="jobsContent")
  each jobs
    .panel.panel-default
      .modal-body
        .label.label-default.pull-right
          strong {{term}}
        h4.list-group-item-heading
          a(href="/jobs/view/{{_id}}")
            | {{title}}
          if belongsToUser
            a.btn.btn-link.btn-xs(href="/jobs/edit/{{_id}}")
              i.fa.fa-edit
              | Editar            
        p
          i.fa.fa-fw.fa-building 
          | {{company}}
      .panel-footer.text-right

        img.img-avatar.img-circle.pull-right(src="{{author.profile.pictureUrl}}")
        p.list-group-item-text
          strong {{author.profile.firstName}} {{author.profile.lastName}}
        p.list-group-item-text
          | {{fromNow}}

  else
    .well
      | Nenhuma vaga aberta no momento
