template(name="jobsViewNotFound")
  .well.text-center
    p
      | Vaga não disponível
      
template(name="jobsView")
  if Template.subscriptionsReady
    with job
      +jobsViewContent
    else
      +jobsViewNotFound
  else
    +loading
  
template(name="jobsViewContent")
  .row
    .col-sm-12
      .panel.panel-default
        .modal-body
          h2
            | {{title}}
          p
            i.fa.fa-fw.fa-building 
            | {{company}}
          hr
          .row
            .col-sm-3
              .label.label-default
                strong {{term}}
              hr
              if Template.subscriptionsReady
                a.btn.btn-default.btn-lg.btn-block(href="mailto:{{email}}?subject=[Jobs Sanca] Novo cadidato para '{{title}}'&body=Escreva suas qualificações para a vaga '{{title}}'.%0A%0ARecomendamos que anexe um CV.%0A%0ABoa sorte!")
                  i.fa.fa-envelope
                  | Candidatar-se
              else
                +loading
            .col-sm-9
              if Template.subscriptionsReady
                | {{{description}}}
              else
                +loading
        .panel-footer.text-right
          img.img-avatar.img-circle.pull-right(src="{{author.profile.pictureUrl}}")
          p.list-group-item-text
            strong {{author.profile.firstName}} {{author.profile.lastName}}
          p.list-group-item-text
            | {{fromNow}}
